@model IEnumerable<Hotel.Models.Room>
@{
    ViewBag.Title = "Номера гостиницы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Номера гостиницы</h2>

<table class="table">
    <tr>
        <th>Номер комнаты</th>
        <th>Количество мест</th>
        <th>Категория</th>
        <th>Цена</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id })  
            </td>
        </tr>
    }
</table>



